<div class="container ">
    <div class="row register-form" style="margin-bottom: 60px;">                     
        <button class="btnRegister" style="margin-left: 30%;" (click)="viewButton = true" value="View All Champs">View all champs</button><br>
        <div *ngIf="viewButton">
            <br>
            <table>
                <thead>
                    <th colspan="6">Personal Details</th>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Name</b></td>
                        <td>{{user.firstName}}&nbsp;{{user.lastName}}</td>
                        <td><b>Gender</b></td>
                        <td>{{user.gender}}</td>
                        <td><b>Date of Birth</b></td>
                        <td>{{user.dob}}</td>
                    </tr>
                    <tr>
                        <td><b>Address</b></td>
                        <td>{{user.addressLine1}},<br>
                            {{user.addressLine2}},<br>
                            {{user.city}} - {{user.pincode}}<br>
                            {{user.state}}<br>
                        </td>
                        <td><b>Email</b></td>
                        <td>{{user.email}}</td>
                        <td><b>Contact</b></td>
                        <td>{{user.phoneNo}}</td>
                    </tr>
                    <tr>
                        <td><b>Aadhar no</b></td>
                        <td colspan="2">{{user.aadhar}}</td>
                        <td><b>PAN no</b></td>
                        <td colspan="2">{{user.pan}}</td>
                    </tr>
                </tbody>
                <div *ngFor="let education of eduDetailsList">
                    <div *ngIf="education.type == 'Secondary'">
                        <thead>
                            <th colspan="6">Secondary Education</th>
                        </thead>
                    </div>  
                    <div *ngIf="education.type == 'HigherSecondary'">
                        <thead>
                            <th colspan="6">Higher Education</th>
                        </thead>
                    </div>
                    <div *ngIf="education.type == 'Degree'">
                        <thead>
                            <th colspan="6">Degree</th>
                        </thead>
                    </div>   
                    <div *ngIf="education.type == 'Diploma'">
                        <thead>
                            <th colspan="6">Diploma</th>
                        </thead>
                    </div>
                    <tbody>
                        <tr>
                            <td><b>Course</b></td>
                            <td>{{education.degree}}</td>
                            <td><b>Branch</b></td>
                            <td>{{education.branch}}</td>
                            <td><b>Mode</b></td>
                            <td>{{education.mode}}</td>
                        </tr>
                        <tr>
                            <td><b>Institution</b></td>
                            <td>{{education.institution}}</td>
                            <td><b>State</b></td>
                            <td>{{education.state}}</td>
                            <td><b>City</b></td>
                            <td>{{education.city}}</td>
                        </tr>
                        <tr>
                            <td><b>Percentage</b></td>
                            <td>{{education.percentage}}</td>
                            <td><b>Start Date</b></td>
                            <td>{{education.startDate}}</td>
                            <td><b>End Date</b></td>
                            <td>{{education.endDate}}</td>
                        </tr>
                    </tbody>    
                    
                </div>
                <thead>
                    <th colspan="6">Work Experience</th>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Company</b></td>
                        <td>{{work.firm}}</td>
                        <td><b>Job Role</b></td>
                        <td>{{work.position}}</td>
                        <td><b>Salary</b></td>
                        <td>{{work.salary}}</td>
                    </tr>
                    <tr>
                        <td><b>Start Date</b></td>
                        <td colspan="2">{{work.fromDate}}</td>
                        <td><b>End Date</b></td>
                        <td colspan="2">{{work.toDate}}</td>
                    </tr>
                </tbody>
            </table>
            
            
            
        </div>
    </div>
</div>
<!--
<input type="submit" class="btnRegister"  value="View Employee"/><br>
<input type="submit" class="btnRegister" value="Filter"/>
<div class="container ">
    
</div>
-->