<div class="card text-center">
    <div class="card-header"><h2>WELCOME</h2></div>
    <div class="card-header">
  
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/personal-details']">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/education-details']">Education Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/work-exp']">Work Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/documents-upload']">Documents Upload</a>
        </li>
        <li class="nav-item"  style="margin-left: 64%;">
          <a class="nav-link " [routerLink]="['/admin-view']">Admin</a>
        </li>
        
      </ul>
    </div>
    <div class="card-body">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="card-footer bg-transparent border-success" >Footer</div>
  </div>