<div class="container ">
    <div class="row register-form">     
        <table>
            <div *ngIf="user.firstName">
            <thead>
                <th colspan="6">Personal Details</th>
            </thead>
            <tbody>
                <tr>
                    <td><b>Name</b></td>
                    <td>{{user.firstName}}&nbsp;{{user.lastName}}</td>
                    <td><b>Gender</b></td>
                    <td>{{user.gender}}</td>
                    <td><b>Date of Birth</b></td>
                    <td>{{user.dob}}</td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>{{user.addressLine1}},<br>
                        {{user.addressLine2}},<br>
                        {{user.city}} - {{user.pincode}}<br>
                        {{user.state}}<br>
                    </td>
                    <td><b>Email</b></td>
                    <td>{{user.email}}</td>
                    <td><b>Contact</b></td>
                    <td>{{user.phoneNo}}</td>
                </tr>
                <tr>
                    <td><b>Aadhar no</b></td>
                    <td colspan="2">{{user.aadhar}}</td>
                    <td><b>PAN no</b></td>
                    <td colspan="2">{{user.pan}}</td>
                </tr>
            </tbody>
            </div>
            <div *ngIf="work.firm">
            <thead>
                <th colspan="6">Work Experience</th>
            </thead>
            <tbody>
                <tr>
                    <td><b>Company</b></td>
                    <td>{{work.firm}}</td>
                    <td><b>Job Role</b></td>
                    <td>{{work.position}}</td>
                    <td><b>Salary</b></td>
                    <td>{{work.salary}}</td>
                </tr>
                <tr>
                    <td><b>Start Date</b></td>
                    <td colspan="2">{{work.fromDate}}</td>
                    <td><b>End Date</b></td>
                    <td colspan="2">{{work.toDate}}</td>
                </tr>
            </tbody>
            </div>
        </table>
        <input type="submit" class="btnRegister"  value="Confirm" (click)="saveToDb()"/>
    </div>
</div>