.surveyContainer {
  padding: "50px";
  border-radius: 10px;
  box-shadow: 3px 5px 6px #ccc;
  background-color: #ebecf0;
}
@media (min-width: 320px) and (max-width: 480px) {
  .surveyContainer {
    width: 100%;
    font-family: "Open Sans", sans-serif;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .surveyContainer {
    width: 100%;
    padding: "10px";
    font-family: "Open Sans", sans-serif;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .surveyContainer {
    margin-top: 13%;
    width: 100%;
    padding: "10px";
    font-family: "Open Sans", sans-serif;
  }
}
@media (min-width: 961px) and (max-width: 1024px) {
  .surveyContainer {
    width: 70%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
  }
}
@media (min-width: 1025px) {
  .surveyContainer {
    width: 40%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
  }
}