<body>
    <div class="container">
    <div class="window">
    <div class='overlay'></div> 
    <div class="content">
    <div class="welcome">Education Details</div> 
    
    <form [formGroup]="WorkForm" novalidate>
        
        <div class="form-group">
            <label for="firm">Name of Firm:</label>
            <input type="text" class="form-control" id="firm" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="position">Position held:</label>
            <input type="text" class="form-control" id="position" [(ngModel)]="work.position" formControlName="position" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="salary">Gross Salary:</label>
            <input type="text" class="form-control" id="salary" [(ngModel)]="work.salary" formControlName="salary" aria-describedby="emailHelp">
        </div>

        <label>From Date:</label>
        <input type="text" class="datetextbox" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="work.fromDate" formControlName="fromDate" style="width: 25%;"> 
        
        
        <label style="float: right;">To Date:</label>
        <input type="text" class="datetextbox" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="work.toDate" formControlName="toDate" style="float: right; width: 25%;"><br><br>

        <button type="button" style="width: 30%" (click)="save()">Save</button>
        <button type="button" style="width: 30%; float:right;" (click)="next()">Next</button>

    </form>
</div>
</div>
</div>
</body>
