<h2>Work Experience</h2><br>
<form #myform="ngForm">
    <div class="container">
        <div class="row">
            <div class="col-md-12 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="firm" class="form-control" placeholder="Firm *" value=""
                                        name="firm" #firm="ngModel" [(ngModel)]=work.firm required />
                                </div>
                                <div style="color:red" *ngIf="firm.invalid && (firm.dirty||firm.touched)">
                                    <div *ngIf="firm.errors?.required">
                                        Firm is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="pos" class="form-control" placeholder="Position *" value=""
                                        name="position" #position="ngModel" [(ngModel)]=work.position required />
                                </div>
                                <div style="color:red" *ngIf="position.invalid && (position.dirty||position.touched)">
                                    <div *ngIf="position.errors?.required">
                                        Position is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="sal" class="form-control" placeholder="Salary *" value=""
                                        pattern="^\d{1,6}(?:\.\d{0,2})?$" name="salary" #salary="ngModel"
                                        [(ngModel)]=work.salary required />
                                </div>
                                <div style="color:red" *ngIf="salary.invalid && (salary.dirty||salary.touched)">
                                    <div *ngIf="salary.errors?.required">
                                        Salary is required
                                    </div>
                                    <div *ngIf="salary.errors?.pattern">
                                        invalid
                                    </div><br>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="sd" onfocus="(this.type='date')" onblur="(this.type='text')"
                                        class="form-control" placeholder="From Date *" value="" name="fromDate"
                                        #fromDate="ngModel" [(ngModel)]=work.fromDate required />
                                </div>
                                <div style="color:red" *ngIf="fromDate.invalid && (fromDate.dirty||fromDate.touched)">
                                    <div *ngIf="fromDate.errors?.required">
                                        From Date is required
                                    </div><br>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="ed" onfocus="(this.type='date')" onblur="(this.type='text')"
                                        class="form-control" placeholder="To Date *" value="" name="toDate"
                                        #toDate="ngModel" [(ngModel)]=work.toDate required (blur)="compareTwoDates()" />
                                </div>
                                <div style="color:red" *ngIf="toDate.invalid && (toDate.dirty||toDate.touched)">
                                    <div *ngIf="toDate.errors?.required">
                                        To Date is required
                                    </div>
                                </div>
                                <div style="color:red">
                                <div *ngIf="dateError.isError">
                                    {{ dateError.errorMessage }}
                                 </div>
                                </div>
    
                                <input type="submit" class="btnRegister" value="Next" [disabled]="!myform.valid" (click) = "nextpage();"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>