
<body>
    <form (ngSubmit)="register()">
    <div class="container">
    <div class="window">
    <div class='overlay'></div> 
    <div class="content">
    <div class="welcome">Register here!</div>       
    <input type="text" name="username" placeholder="Enter Name" formControlName="username"><br>

    <input type="email" name="email" placeholder="Enter Email" formControlName="email"><br>

    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="dateOfBirth" placeholder="Enter Date Of Birth" formControlName="dateOfBirth"><br>

    <input type="tel" name="phoneno" placeholder="Enter Phone" formControlName="phoneno"><br>

    <input type="text" name="street" placeholder="Address" formControlName="street"><br>

    <input type="text" name="city" placeholder="City" formControlName="city"><br>

    <input type="text" name="state" placeholder="State" formControlName="state"><br>

    <input type="number" name="pincode" placeholder="Pincode" formControlName="pincode"><br>

    <input type="password" name="password1" placeholder="Create Password" formControlName="password1"><br>

    <input type="password" name="password2" placeholder="Confirm Password" formControlName="password2"><br>

    <button type="button">Register</button>
</div>
</div>
</div>
</form>
</body>